/* header */
.header{width: 100%; background-color: #2ecc71; padding: 10px 0; box-sizing: border-box; color: #fdfcfc;}

/* 왼쪽 말풍선 */
.speech-bubble {
    position: relative;
    background: 	#5ce39570;
    border-radius: .4em;
    height: 200px;
    margin: 20px;
    width:  500px;
}
.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-right-color: 	#5ce39570;
    border-left: 0;
    border-top: 0;
    margin-top: -8px;
    margin-left: -16px;
}

/* 오른쪽 말풍선 */
.speech-bubble2 {
    position: relative;
    background: 	#5ce39570;
    border-radius: .4em;
}
.speech-bubble2:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-left-color: 	#5ce39570;
    border-right: 0;
    border-top: 0;
    margin-top: -8px;
    margin-right: -16px;
}


