<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>환영메시지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
</head>
<body>
<div th:replace="layout/header::header"></div>
    환영메시지 테이블
    <div id="header">
        zzzzzzzzzz
    </div>
    <div class="speech-bubble">
        <img src="../../img/skon.png" alt="skon" width="50" height="50"><br>
        안녕하세요! 저는 서경대학교 학사/IT 챗봇입니다.<br>
        학사정보와 IT서비스, 학교 정보에 관해 궁금한 부분이 있으면 언제든 저에게 물어봐주세요!<br>
        <a href="https://naver.com">공지사항</a>    <a href="https://naver.com">학사일정</a>    <a href="https://naver.com">장학금</a><br>
        <a href="https://naver.com">교내번호</a>    <a href="https://naver.com">성적안내</a>    <a href="https://naver.com">LMS안내</a><br>
    </div>

    <div align="left">
        <img src="../../img/skon.png" alt="skon" width="50" height="50"><br>
        공지사항에 대해 궁금한 내용을 클릭하면 자세한 내용을 볼 수 있어요<br>
        <a href="https://naver.com">학사</a><br>
        <a href="https://naver.com">일반</a><br>
        <a href="https://naver.com">입학</a><br>
        <a href="https://naver.com">장학</a><br>
        <a href="https://naver.com">행사안내</a><br>
    </div>
<div class="speech-bubble">
    <img src="../../img/skon.png" alt="skon" width="50" height="50"><br>
    안녕하세요! 저는 서경대학교 학사/IT 챗봇입니다.<br>
    학사정보와 IT서비스, 학교 정보에 관해 궁금한 부분이 있으면 언제든 저에게 물어봐주세요!<br>
    <a href="https://naver.com">공지사항</a>    <a href="https://naver.com">학사일정</a>    <a href="https://naver.com">장학금</a><br>
    <a href="https://naver.com">교내번호</a>    <a href="https://naver.com">성적안내</a>    <a href="https://naver.com">LMS안내</a><br>
</div>
<div class="speech-bubble">
    <img src="../../img/skon.png" alt="skon" width="50" height="50"><br>
    안녕하세요! 저는 서경대학교 학사/IT 챗봇입니다.<br>
    학사정보와 IT서비스, 학교 정보에 관해 궁금한 부분이 있으면 언제든 저에게 물어봐주세요!<br>
    <a href="https://naver.com">공지사항</a>    <a href="https://naver.com">학사일정</a>    <a href="https://naver.com">장학금</a><br>
    <a href="https://naver.com">교내번호</a>    <a href="https://naver.com">성적안내</a>    <a href="https://naver.com">LMS안내</a><br>
</div>
<div class="speech-bubble">
    <img src="../../img/skon.png" alt="skon" width="50" height="50"><br>
    안녕하세요! 저는 서경대학교 학사/IT 챗봇입니다.<br>
    학사정보와 IT서비스, 학교 정보에 관해 궁금한 부분이 있으면 언제든 저에게 물어봐주세요!<br>
    <a href="https://naver.com">공지사항</a>    <a href="https://naver.com">학사일정</a>    <a href="https://naver.com">장학금</a><br>
    <a href="https://naver.com">교내번호</a>    <a href="https://naver.com">성적안내</a>    <a href="https://naver.com">LMS안내</a><br>
</div>
<div class="speech-bubble">
    <img src="../../img/skon.png" alt="skon" width="50" height="50"><br>
    안녕하세요! 저는 서경대학교 학사/IT 챗봇입니다.<br>
    학사정보와 IT서비스, 학교 정보에 관해 궁금한 부분이 있으면 언제든 저에게 물어봐주세요!<br>
    <a href="https://naver.com">공지사항</a>    <a href="https://naver.com">학사일정</a>    <a href="https://naver.com">장학금</a><br>
    <a href="https://naver.com">교내번호</a>    <a href="https://naver.com">성적안내</a>    <a href="https://naver.com">LMS안내</a><br>
</div>
<div class="speech-bubble">
    <img src="../../img/skon.png" alt="skon" width="50" height="50"><br>
    안녕하세요! 저는 서경대학교 학사/IT 챗봇입니다.<br>
    학사정보와 IT서비스, 학교 정보에 관해 궁금한 부분이 있으면 언제든 저에게 물어봐주세요!<br>
    <a href="https://naver.com">공지사항</a>    <a href="https://naver.com">학사일정</a>    <a href="https://naver.com">장학금</a><br>
    <a href="https://naver.com">교내번호</a>    <a href="https://naver.com">성적안내</a>    <a href="https://naver.com">LMS안내</a><br>
</div>
<div class="speech-bubble">
    <img src="../../img/skon.png" alt="skon" width="50" height="50"><br>
    안녕하세요! 저는 서경대학교 학사/IT 챗봇입니다.<br>
    학사정보와 IT서비스, 학교 정보에 관해 궁금한 부분이 있으면 언제든 저에게 물어봐주세요!<br>
    <a href="https://naver.com">공지사항</a>    <a href="https://naver.com">학사일정</a>    <a href="https://naver.com">장학금</a><br>
    <a href="https://naver.com">교내번호</a>    <a href="https://naver.com">성적안내</a>    <a href="https://naver.com">LMS안내</a><br>
</div>
</body>
</html>